//! **************************************************************************
// Written by: Map K.39 on Thu May 28 13:10:47 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
CONFIG ENABLE_SUSPEND = FILTERED;
CONFIG POST_CRC = DISABLE;
COMP "SW<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "U10" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "T9" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "ROT_A" LOCATE = SITE "T13" LEVEL 1;
COMP "ROT_B" LOCATE = SITE "R14" LEVEL 1;
COMP "ROT_CENTER" LOCATE = SITE "R13" LEVEL 1;
COMP "BTN_EAST" LOCATE = SITE "T16" LEVEL 1;
COMP "BTN_NORTH" LOCATE = SITE "T14" LEVEL 1;
COMP "BTN_SOUTH" LOCATE = SITE "T15" LEVEL 1;
COMP "BTN_WEST" LOCATE = SITE "U15" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "E12" LEVEL 1;
NET "CLK_50M_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
OFFSET = IN 10 ns VALID 20 ns BEFORE COMP "CLK_50M";
OFFSET = OUT 20 ns AFTER COMP "CLK_50M";
SCHEMATIC END;

